/* main */
#flow-area,
#box-area,
#about-area,
#member-area,
#shop-area {
	position: relative;
	top: 100%;
	width: 100%;
	padding-top: 80px;
	padding-bottom: 100px;
	text-align: center;
	transition: 0.25s;
	color: var(--global-fill-color);
}

#flow-area,
#about-area,
#shop-area {
	background-color: var(--global-bg-color-bright);
}

#box-area,
#member-area {
	background-color: var(--global-bg-color-dark);
}

/* flow */
#flow-area #flow-content {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 30px 0;
	width: 100%;
	justify-content: center;
}

#flow-area .slider {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

#flow-area .slide {
	position: absolute;
	top: 0;
	visibility: hidden;
	width: 100%;
	opacity: 0;
}

#flow-area .slide-showing {
	opacity: 1;
	visibility: visible;
	position: relative;
}

#flow-area .banner-content {
	position: relative;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: auto;
	width: 600px;
	height: 340px;
	border-radius: 0px 20px 50px 20px;
	box-shadow: 5px 8px 8px var(--box-shadow);
}

@media screen and (max-width: 768px) {
	#flow-area .banner-content {
		width: 400px;
		height: 225px;
	}
}

@media screen and (max-width: 425px) {
	#flow-area .banner-content {
		width: 300px;
		height: 170px;
	}
}

#flow-area .banner-content::before {
	position: absolute;
	width: 100%;
	height: 100%;
	content: '';
	clip-path: polygon(0 0, 40px 0, 0 40px);
	background-color: var(--global-fill-color-light);
}

#flow-area .slider img {
	width: 100%;
	height: 100%;
	clip-path: polygon(50px 0, 100% 0, 100% 100%, 0 100%, 0 50px);
	border-radius: 0px 20px 50px 20px;
}

#flow-area .slider-intro {
	font-size: 1.8em;
	font-weight: bold;
	line-height: 1.5;
	margin: 20px auto;
	color: var(--global-fill-color);
}

#flow-area .slider-intro span {
	font-size: 60%;
	font-weight: normal;
	display: block;
	text-transform: uppercase;
	color: var(--global-fill-color-light);
}

#flow-area .button {
	font-size: 2em;
	position: relative;
	display: inline-block;
	margin: 0 25px;
	color: var(--global-fill-color);
	background: none;
}

#flow-area .button:hover {
	color: var(--orange);
}

#flow-area .work-vision {
	position: fixed;
	opacity: 0;
	width: 0;
}

#flow-area .vision-box {
	position: relative;
	width: 100%;
	height: 0;
}

#flow-area .vision-box iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

/* about */
#about-area #about-content {
	padding: 30px 0;
}

/* member */
#member-area .member-box {
	position: relative;
	padding: 30px 0;
	left: 5%;
	width: 90%;
}

#member-area .member-box h3 {
	display: inline-block;
	letter-spacing: 5px;
	line-height: 2;
	border-top: 3px solid var(--global-fill-color);
	border-bottom: 3px solid var(--global-fill-color);
}

#member-area .member-content {
	display: flex;
	width: 80%;
	margin: 0 auto;
	justify-content: center;
	flex-wrap: wrap;
}

@media screen and (max-width:768px) {
	#member-area .member-content {
		width: 100%;
	}
}

#member-area .member-content .member-info {
	display: flex;
	flex-direction: column;
	padding: 20px 30px;
	margin: 30px 0;
	text-align: center;
}

@media screen and (max-width:768px) {
	#member-area .member-content .member-info {
		padding: 20px 10px;
		width: 100%;
	}
}

#member-area .member-info .member-avatar {
	padding-top: 5px;
}

#member-area .member-info .member-avatar .avatar-img {
	width: 100px;
	height: 100px;
	background-color: var(--bright-white);
	border-radius: 50%;
	vertical-align: middle;
}

#member-area .member-info .member-tag {
	padding: 5px 0;
}

#member-float .member-info .member-tag {
	min-height: 100px;
}

#member-area .member-info .member-tag p {
	display: inline-block;
	padding: 8px 8px;
	margin: 0 2px;
	margin-top: 5px;
	background-color: var(--global-bg-color-bright);
	border-radius: 8px;
	font-size: 0.8em;
	font-weight: 300;
}

@media screen and (min-width: 769px) {
	#member-float .member-info {
		width: 450px;
	}
}

#member-area .member-info .member-motto {
	line-height: 2;
	padding: 5px 0;
}

#member-area .member-info .member-description {
	max-width: 450px;
	min-height: 75px;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.5;
	text-align: left;
}

#member-area .member-info .member-works {
	max-width: 450px;
	padding: 5px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	line-height: 1.5;
}

#member-area .member-info .member-works a:hover {
	color: var(--orange);
}

#member-area .member-info .member-social {
	padding: 20px 0;
	margin-top: auto;
}

#member-area .member-info .page-link {
	position: relative;
	z-index: 1;
	padding: 10px 0;
	border-radius: 20px;
	background-color: var(--global-bg-color-bright);
	overflow: hidden;
}

#member-area .member-info .page-link:not(:first-child) {
	margin-top: 8px;
}

#member-area .member-info .page-link::before {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 0;
	content: '';
	z-index: -1;
	border-radius: 20px;
	background-color: var(--global-bg-hover-color);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#member-area .member-info .page-link:hover::before {
	width: 100%;
}

#member-area .member-info .page-link a {
	display: block;
}