#page-head {
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#about-area .content-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 800px;
    margin: auto;
    padding: 20px 20px;
    text-align:justify;
    line-height: 1.5;
}

#about-area img {
    width: 300px;
    height: 300px;
}